################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularApp/obj/Debug
/packages
/Utils/bin/Debug
/Utils/obj/Debug
